{% extends "base_generic.html" %}

{% block content %}
<h1>Your Packages</h1>

{% if package_list %}
<ul>
  {% for package in package_list %}
  <li>
    <a href="{{ package.get_absolute_url }}">Package: {{package.package_id}} </a>
  </li>
  {% endfor %}
</ul>
  <p>Did not see your package in the list?</p>
  <p>Add your package to your account!</p>
  <form class="form-inline ml-auto">
    <a href="/ups/matchmypackage/" class="btn btn-outline-secondary">Add Package Record</a>
  </form>

{% else %}
<p>Currently,</p>
<p>There is no package information under your account.</p>
<p>You may click the button on top left to go to the UPS home page.</p>
{% endif %}
{% endblock %}
