{% extends "base_generic.html" %}

{% block content %}
<h1>Delivery Detail</h1>

{% if package_list %}
<ul>
  {% for package in package_list %}
  <li>
    <a href="{{ package.get_absolute_url }}">Package: {{package.package_id}} </a>
  </li>
  {% endfor %}

</ul>
{% else %}
<p>Please correct the following errors</p>
<p>The tracking number you entered is not valid. Please review or contact the sender to verify the number.</p>
<form action= "/ups/trackPackage/"  method="get">
  <input type="submit" class="btn btn-outline-info" value="Back To Tracking">
</form>
{% endif %}
{% endblock %}
