#ups-header_logo {
    display: block;
    bottom: 22px;
    z-index: 2;
    left: 0;
    transition: 0.3s;
    width: 67px;
    height: 78px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/static/images/ups_transparent_logo.png);
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
}

body {
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: lighter;
}
#ups-logo {
    bottom: auto;
    vertical-align: middle;
    border-style: none;
    background-size: contain;
    size: a3;
    width: 80px;
    height: 60px;
}                                                                                  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dae0e5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    color: black;
    width: 1500px;
    height: 270px;
    text-align: left;
    margin: 0 auto;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

footer {
    width: 1500px;
    height: 3px;
    margin: 0 auto;
    color: #1d2124;
    font-size: 15px;
    position: relative;
    left:0px;
}

footer>div {
    width: 1200px;
    height: 310px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 90px;
}

footer div div {
    width: 150px;
    height: 200px;
}

footer div div:last-child {
    width: 270px;
    height: 200px;
}

footer div div p:first-child {
    color: #212529;;
}
img {
    bottom: auto;
    vertical-align: middle;
    border-style: none;
    background-size: contain;
    size: a3;
    width: 1100px;
    height: 1000px;
}                                                                                  
